.content-container {
    background-color: #141D2F;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
}

.rotate {
    font-size: 45px;
    transform: rotate(270deg);
    height: 0px;
    margin-right: 5px;
    min-width: 151px;
    text-align: center;
}

.headline {
    img {
        height: 500px;
        background: url('/assets/img/background/background-profilimage.png');
        background-size: 100%;
        object-fit: contain;
    }
    display: flex;
    justify-content: space-between;
}

.colored-text {
    color: #9747FF;
    font-size: 58px;
    margin: 0;
    text-align: center;
}

.lala {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Name {
    font-size: 70px;
    margin: 0;
    text-align: center;
}

button {
    background-color: #70E61C;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    border: none;
    transition: all ease-in-out 225ms;
    transform: scale(1);
    height: 60px;
    &:hover {
        cursor: pointer;
        background-color: #9747FF;
        transition: all ease-in-out 225ms;
        transform: scale(1.2);
    }
}

@media (max-width: 1620px) {
    .Name {
        font-size: 60px;
    }
    .colored-text {
        font-size: 53px;
    }
}

@media (max-width: 1500px) {
    .Name {
        font-size: 44px;
    }
    .colored-text {
        font-size: 39px;
    }
    .rotate {
        font-size: 31px;
        min-width: 105px;
    }
    .headline {
        img {
            height: 400px;
        }
    }
}

@media (max-width: 1150px) {
    .Name {
        font-size: 33px;
    }
    .colored-text {
        font-size: 30px;
    }
    .rotate {
        font-size: 22px;
        min-width: 75px;
    }
    button {
        font-size: 17px;
        padding: 5px 15px 5px 15px;
    }
}

@media (max-width: 1000px) {
    .headline {
        img {
            height: 300px;
        }
    }
}

@media (max-width: 850px) {
    .content-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 750px) {
    .headline {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .content-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 450px) {
    .content-container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .headline {
        flex-direction: column;
        img {
            height: 400px;
        }
    }
    .rotate {
        font-size: 19px;
    }
    .Name {
        font-size: 30px;
    }
    .colored-text {
        font-size: 25px;
    }
}

@media (max-width: 395px) {
    .headline {
        img {
            height: 350px;
        }
    }
    .rotate {
        font-size: 15px;
    }
    .Name {
        font-size: 18px;
    }
    .colored-text {
        font-size: 16px;
    }
    button {
        font-size: 14px;
        padding: 0px 7px 0px 7px;
        height: 50px;
    }
}