<div class="content-container" id="content">

    <div class="headline">
        <img src="./../assets/img/application/Bwerbungsfoto2.png" alt="">

        <div class="lala">
            <div class="text">

                <div translate class="rotate">Ich bin</div>
                <div>
                    <p translate class="Name"> Maximilian Bruhn</p>
                    <p translate class="colored-text"> Frontend Entwickler</p>

                </div>
            </div>

            <a href="#containerContact"><button translate>Kontaktformular</button></a>
        </div>
    </div>
</div>
<app-about-me></app-about-me>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>