<div [class.whiteContent]="this.main.whiteMode" class="content-container">
    <div class="test">
        <div class="headline">
            <h2> <span translate>Hey,</span> <br> <span> ich</span> <span> bin</span> <br> <span> Maximilian</span> <span> Bruhn</span> <br> <span> und</span>
                <br> <span>Front</span> <span> End</span> <span> Entwickler</span> </h2>
            <a translate [class.whiteContact]="this.main.whiteMode" href="#containerContact" class="contact">Kontaktieren Sie mich gerne</a>
        </div>
        <img src="./../assets/img/Bwerbungsfoto2.png" alt="">
    </div>
    <p class="arrow">&dArr;</p>

</div>
<app-skills></app-skills>
<app-projects></app-projects>
<app-about-me></app-about-me>
<app-contact></app-contact>