header {
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 300;
    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 14%;
        padding-right: 14%;
        align-items: center;
        .container-links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-right: 10px;
            font-size: 30px;
            .settings {
                margin-top: 10px;
                min-width: 200px;
                font-size: 15px;
                border: 1px solid wheat;
                z-index: 1;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                position: absolute;
                right: 25%;
                color: white;
                display: flex;
                span {
                    cursor: pointer;
                }
                button {
                    color: white;
                    border: none;
                    background-color: black;
                    cursor: pointer;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
                .setting-mode {
                    font-size: 15px;
                }
            }
            .setting-mode {
                font-size: 10px;
                margin: 0;
                display: flex;
            }
            .d-none {
                display: none;
            }
            img {
                height: 40px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        a {
            color: white;
            margin-left: 15px;
            margin-right: 15px;
            text-decoration: none;
            width: 10px;
            &:hover {
                color: rgba(250, 250, 250, 0.5);
            }
        }
        img {
            height: 120px;
            position: relative;
            z-index: 10;
        }
    }
    .menuImage {
        display: none;
    }
}

.whiteHeader {
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    a {
        color: black !important;
        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    .Whitesettings {
        background-color: white !important;
        color: black !important;
        border-color: black !important;
        button {
            background-color: white !important;
            color: black !important;
            border: none;
        }
    }
}

@media(max-width: 930px) {
    .container-links {
        font-size: 17.5px !important;
    }
    .settings,
    .setting-mode {
        font-size: 13px !important;
        button {
            font-size: 13px !important;
        }
    }
    .header-container {
        img {
            height: 90px !important;
            width: auto;
        }
    }
    .container-links {
        img {
            height: 30px !important;
        }
    }
}

@media(max-width: 675px) {
    .header-buttons {
        display: flex;
        img {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .container-links {
        font-size: 15px !important;
    }
    .header-container {
        padding-left: 10% !important;
        padding-right: 10% !important;
        img {
            height: 70px !important;
            width: auto;
        }
    }
    .container-links {
        img {
            height: 30px !important;
        }
    }
    .settings,
    .setting-mode {
        font-size: 10px !important;
        button {
            font-size: 10px;
        }
    }
    .menu {
        display: none;
        position: absolute;
        z-index: 50;
    }
    .menuImage {
        display: block !important;
    }
}

@media(max-width: 580px) {
    header {
        .header-container {
            a {
                margin-left: 7px;
                margin-right: 7px;
            }
        }
    }
}

@media(max-width: 490px) {
    .header-container {
        padding-left: 5% !important;
        padding-right: 5% !important;
        img {
            height: 60px !important;
        }
    }
    .container-links {
        img {
            height: 23px !important;
        }
        font-size: 13px !important;
    }
}

@media(max-width: 390px) {
    header {
        .header-container {
            a {
                margin-left: 4px;
                margin-right: 4px;
            }
        }
        img {
            height: 50px !important;
        }
    }
    .container-links {
        img {
            height: 15px !important;
        }
    }
}

@media(max-width: 280px) {
    header {
        .header-container {
            a {
                margin-left: 2px;
                margin-right: 2px;
            }
        }
        img {
            height: 50px !important;
        }
    }
    .container-links {
        font-size: 10px !important;
    }
}