<header>
    <div class="header-container">
        <a routerLink=""><img src="favicon.ico" alt=""></a>

        <div class="container-links">
            <div id="menu" class="menu">

                <a translate href="#container-about-me">Über mich</a>

                <a translate href="#container-skills">Skills</a>

                <a translate href="#container-projects">Portfolio</a>


            </div>
            <div>
                <p translate> <span (click)="germanLanguage()">DE</span>| <span (click)="englishLanguage()">EN</span></p>
            </div>

            <div class="burger">
                <img *ngIf="!burgerMenu" (click)="openBurgerMenu()" src="./../assets/img/burger.png" alt="">
                <img *ngIf="burgerMenu" (click)="closeBurgerMenu()" src="./../assets/img/closeBurgerMenu.png" alt="">
            </div>

        </div>
    </div>

</header>
<div *ngIf="burgerMenu" class="burgermenu">
    <a (click)="closeBurgerMenu()" translate href="#container-about-me">Über mich</a>

    <a (click)="closeBurgerMenu()" translate href="#container-skills">Skills</a>

    <a (click)="closeBurgerMenu()" translate href="#container-projects">Portfolio</a>

    <a (click)="closeBurgerMenu()" translate href="#containerContact">Kontaktformular</a>
</div>