<footer [class.whiteFooter]="whiteMode">
    <div>
        <a translate routerLink="/imprimt">Impressum</a>
        <a translate routerLink="/privacy">Datenschutz</a>
    </div>
    <div>
        <a target="_blank" href="https://www.linkedin.com/in/maximilian-bruhn-8ab078214/"> <img src="./../assets/img/linkedin-box-fill.png" alt=""></a>
        <a target="_blank" href="https://www.github.com/Maxe19306/"><img src="./../assets/img/github-fill.png" alt=""></a>
        <a target="_blank" href="https://www.xing.com/profile/Maximilian_Bruhn/cv"> <img src="./../assets/img/xing-fill.png" alt=""></a>
    </div>

</footer>