<footer>
    <div class="footer-Container">

        <div>
            <a translate routerLink="/imprimt">Impressum</a>
            <a translate routerLink="/privacy">Datenschutz</a>
        </div>
        <div>
            <p>© Maximilian Bruhn, 2022</p>
        </div>
        <div>
            <a target="_blank" href="https://www.linkedin.com/in/maximilian-bruhn-8ab078214/"> <img src="./../assets/img/linkedin-white.png" alt=""></a>
            <a target="_blank" href="https://www.github.com/Maxe19306/"><img src="./../assets/img/git-white.png" alt=""></a>
            <a target="_blank" href="https://www.xing.com/profile/Maximilian_Bruhn/cv"> <img src="./../assets/img/contact-white.png" alt=""></a>
        </div>
    </div>
</footer>