footer {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    background-color: grey;
    align-items: center;
    height: 80px;
    img {
        height: 50px;
        margin-left: 10px;
    }
    a {
        margin-right: 15px;
        text-decoration: none;
        color: black;
        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }
    }
}