footer {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    background-color: #615F58;
    align-items: center;
    height: 100px;
    padding-left: 170px;
    padding-right: 130px;
    img {
        height: 50px;
        margin-left: 10px;
        &:hover {
            opacity: 0.7;
        }
    }
    a {
        margin-right: 15px;
        text-decoration: none;
        color: black;
        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.whiteFooter {
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}