<div id="container-about-me" class="container-about-me">

    <img class="vector-image" src="assets/img/background/Vector (2).png" alt="">


    <div class="links-social">
        <a target="_blank" href="https://www.linkedin.com/in/maximilian-bruhn-8ab078214/"> <img src="assets/img/linkedin-white.png" alt=""></a>
        <a target="_blank" href="https://www.github.com/Maxe19306/"><img src="assets/img/git-white.png" alt=""></a>
        <a target="_blank" href="https://www.xing.com/profile/Maximilian_Bruhn/cv"> <img src="assets/img/contact-white.png" alt=""></a>
        <a class="email" href="#containerContact">maximilianbruhn@gmx.de</a>
    </div>


    <div class="about-me-info">
        <div class="about-me-text">
            <h3 translate>Über mich</h3>

            <p translate>Ich bin 27 Jahre alt und komme aus Neustadt-Glewe, Norddeutschland. In der Corona Zeit habe ich nach einer neuen Leidenschaft gesucht. Nach wenigen Tutorials wusste ich, dass es Programmieren ist.</p>

            <div class="about-me-single">
                <img src="/assets/img/lightbulb.png" alt="">
                <p translate>Schnell wurde ich auf die Developer Akademie aufmerksam. Im März 2022 habe ich mich für die Weiterbildung entschieden und seitdem viele Stunden programmiert.</p>
            </div>

            <div class="about-me-single">
                <img src="/assets/img/puzzle.png" alt="">
                <p translate>In dieser Zeit habe ich mit ausgebildeten Programmierern zusammengearbeitet und konnte die ersten Erfolge mit HTML, CSS, Javascript und Angular verzeichnen.</p>
            </div>
        </div>
        <img class="application-image" src="assets/img/application/Bwerbungsfoto1.png" alt="">


    </div>
    <div class="bg-image">
        <img src="assets/img/background/Purple shadow 1.png" alt="">
    </div>





</div>