<div id="container-about-me" class="container-about-me">
    <div class="about-me">
        <img src="./../assets/img/vorlage-bild.png" alt="">
        <div class="about-text">
            <h3>Über mich</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quaerat perspiciatis quae fugit quia cumque error vitae tenetur, hic doloribus. Natus impedit illum, aut sed earum et modi. Pariatur, ipsa.</p>
        </div>
    </div>
    <div class="container-lines">
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/heart-line.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur qui aliquid reiciendis! Possimus inventore, iusto vero voluptatem </p>
        </div>
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/search-line.png" alt=""></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur qui aliquid reiciendis! Possimus inventore, iusto vero voluptatem </p>
        </div>
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/walk-line.png" alt=""></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur qui aliquid reiciendis! Possimus inventore, iusto vero voluptatem </p>
        </div>
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/flight-takeoff-line.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur qui aliquid reiciendis! Possimus inventore, iusto vero voluptatem </p>
        </div>
    </div>
</div>