<div [class.whiteContainerAboutMe]="this.main.whiteMode" id="container-about-me" class="container-about-me">

    <div class="about-me">
        <img src="./../assets/img/Bwerbungsfoto1.png" alt="">
        <div class="about-text">
            <p translate>„Wenn nichts anderes mehr geht, sind wir entschlossen, auf neue Weise zu scheitern.“ - Elon Musk</p>
        </div>
    </div>
    <div class="container-lines">
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/heart-line.png" alt="">
            </div>
            <p translate>Ich bin 27 Jahre alt und komme aus Neustadt-Glewe, Norddeutschland. </p>
        </div>
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/search-line.png" alt=""></div>
            <p translate>In der Corona Zeit habe ich nach einer neuen Leidenschaft gesucht. Nach wenigen Tutorials wusste ich, dass es Programmieren ist.</p>
        </div>
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/walk-line.png" alt=""></div>
            <p translate>Schnell wurde ich auf die Developer Akademie aufmerksam. Im März 2022 habe ich mich für die Weiterbildung entschieden und seitdem viele Stunden programmiert.</p>
        </div>
        <div class="container-line">
            <div class="image-container-about-me">
                <img src="./../assets/img/flight-takeoff-line.png" alt="">
            </div>
            <p translate>In dieser Zeit habe ich mit ausgebildeten Programmierern zusammengearbeitet und konnte die ersten Erfolge mit HTML, CSS, Javascript und Angular verzeichnen. </p>
        </div>
    </div>
</div>