<div [class.whiteContainerProjects]="this.main.whiteMode" id="container-projects" class="container-projects">
    <h2 translate>Meine Projekte</h2>
    <div class="container-buttons-projects">
        <button translate (click)="allProjects()">Alle</button>
        <button [class.buttonDisabled]="buttonAngular" translate (click)="AngularProjects()">Angular</button>
        <button [class.buttonDisabled]="buttonJavascript" translate (click)="JavascriptsProjects()">Javascript</button>

    </div>
    <div class="container-image-projects">

        <div (mouseenter)="openInfoElPollo()" (mouseleave)="closeInfoElPollo()" *ngIf="javascript" class="project-container">

            <div *ngIf="infoElPollo" class="Info">
                <p translate>El Pollo Loco - Ein run-and-jump Spiel mit Javascript</p>
                <div class="project-container-links">
                    <a target="_blank" href="https://maximilian-bruhn.developerakademie.net/El%20Pollo%20Loco/index.html" translate>austesten</a>
                    <a target="_blank" href="https://github.com/Maxe19306/El-Pollo-Loco"> Git</a>
                </div>
            </div>

            <img src="./../assets/img/ElPolloLoco.png" alt="">
        </div>



        <div (mouseenter)="openInfoJoin()" (mouseleave)="closeInfoJoin()" *ngIf="javascript" class="project-container">

            <div *ngIf="infoJoin" class="Info">
                <p translate> Join - eine App für die Zuordnung der Aufgaben</p>
                <div class="project-container-links">
                    <a target="_blank" translate href="https://maximilian-bruhn.developerakademie.net/Join/index.html">austesten</a>
                    <a target="_blank" href="https://github.com/Maxe19306/Join"> Git</a>
                </div>
            </div>

            <img src="./../assets/img/Join.png" alt="">
        </div>



        <div (mouseenter)="openInfoPortfolio()" (mouseleave)="closeInfoPortfolio()" *ngIf="angular" class="project-container">



            <div *ngIf="infoPortfolio" class="Info">
                <p translate> Mein Portfolio - mit Angular programmiert</p>
                <div class="project-container-links">
                    <a target="_blank" href="https://github.com/Maxe19306/meineEigeneWebseite"> Git</a>
                </div>
            </div>
            <img src="./../assets/img/portfolio.jpg" alt="">
        </div>


        <div (mouseenter)="openInfoPlaceholder()" (mouseleave)="closeInfoPlaceholder()" *ngIf="angular" class="project-container">


            <div *ngIf="placeholder" class="Info">
                <p> Placeholder - hier kommt ein zweites Angular Projekt hin</p>
                <div class="project-container-links">
                    <a translate href="">austesten</a>
                    <a href=""> Git</a>
                </div>
            </div>
            <img src="./../assets/img/Projecte-placeholder.png" alt="">
        </div>


    </div>
</div>