<div id="container-projects" class="container-projects">
    <div class="headline">
        <div class="hl1"></div>
        <h2 translate>Projekte</h2>
    </div>
    <h3 translate>Diese Seite ist ein Beispiel meiner Arbeit - bitte zögern Sie nicht, sie auszuprobieren.</h3>
    <div class="container-buttons-projects">
        <button translate (click)="allProjects()">Alle</button>
        <button [class.buttonDisabled]="buttonAngular" translate (click)="AngularProjects()">Angular</button>
        <button [class.buttonDisabled]="buttonJavascript" translate (click)="JavascriptsProjects()">Javascript</button>

    </div>
    <div class="container-image-projects">
        <div class="bg-image1">

            <img src="./../assets/img/background/Purple shadow.png" alt="">
        </div>
        <div *ngIf="javascript" class="container-project">
            <img src="./../assets/img/projects/ElPolloLoco.png" alt="">
            <div>
                <p class="headline-project" translate>El Pollo Loco</p>
                <p class="skills-project" translate>Javascript | HTML | CSS</p>
                <p class="explanation-project" translate>El Pollo Loco - Ein run-and-jump Spiel mit Javascript
                </p>
                <div>
                    <a target="_blank" href="https://maximilian-bruhn.developerakademie.net/El%20Pollo%20Loco/index.html"> <button class="testbutton">Live Test</button> </a>
                    <a target="_blank" href="https://github.com/Maxe19306/El-Pollo-Loco"><button class="gitbutton"> Github</button></a>
                </div>
            </div>
        </div>

        <div *ngIf="javascript" class="container-project column-revserse">
            <div>
                <p class="headline-project">Join</p>
                <p class="skills-project">Javascript | HTML | CSS</p>
                <p class="explanation-project" translate>Join - eine App für die Zuordnung der Aufgaben</p>
                <p>Mit dem User: <span class="gast">Gast</span> und dem Passwort: <span class="gast">Gast</span> können Sie es testen</p>
                <div>
                    <a target="_blank" href=""> <button class="testbutton">Live Test</button> </a>
                    <a target="_blank" href="https://github.com/Maxe19306/Join"><button class="gitbutton"> Github</button></a>
                </div>
            </div>

            <img src="./../assets/img/projects/Join.png" alt="">
        </div>
        <div class="bg-image2">

            <img src="./../assets/img/background/GReen shadow.png" alt="">
        </div>
        <div *ngIf="angular" class="container-project">
            <img src="./../assets/img/projects/portfolio.jpg" alt="">
            <div>
                <p class="headline-project">Portfolio</p>
                <p class="skills-project">Javascript | HTML | CSS | Angular</p>
                <p class="explanation-project" translate>Mein Portfolio - mit Angular programmiert
                </p>
                <div>

                    <a target="_blank" href="https://github.com/Maxe19306/meineEigeneWebseite"><button class="gitbutton"> Github</button></a>
                </div>
            </div>
        </div>
    </div>

</div>