<div id="container-projects" class="container-projects">
    <h2>Meine Projekte</h2>
    <div class="container-buttons-projects">
        <button>Alle</button>
        <button>Angular</button>
        <button>Javascript</button>
    </div>

    <div class="container-image-projects">
        <img src="./../assets/img/computer-projects.png" alt="">
        <img src="./../assets/img/computer-projects.png" alt="">
        <img src="./../assets/img/computer-projects.png" alt="">
        <img src="./../assets/img/computer-projects.png" alt="">
    </div>
</div>