<div id="container-contact" class="container-contact">
    <div>
        <h3>Kontaktiere mich gerne</h3>
        <p> Gerne können Sie mich über das Kontaktformular oder über meine E-Mail: <a href="mailto: maximilianbruhn@gmx.de ">maximilianbruhn@gmx.de </a> kontaktieren. </p>

        <form action="" method="post">
            <div>
                <p>Name</p>
                <input type="text" placeholder="Ihr Name">

                <p>E-Mail Adresse</p>
                <input type="email" name="" id="" placeholder="Ihre E-Mail">

                <p>Deine Nachricht</p>
                <input type="text" placeholder="Ihre Nachricht">
            </div>
            <div class="container-button">
                <button class="contact-button">Absenden</button>
            </div>
        </form>
    </div>
</div>