<div class="container-contact">
    <div>
        <h3>Kontaktiere mich gerne</h3>
        <p> Gerne können Sie mich über das Kontaktformular oder über meine E-Mail: <a href="mailto:maximilianbruhn@gmx.de ">maximilianbruhn@gmx.de </a> kontaktieren. </p>

        <form action="">
            <div>
                <p>Name</p>
                <input type="text" placeholder="ihr Name">
            </div>
            <div>
                <p>E-Mail Adresse</p>
                <input type="email" name="" id="" placeholder="Ihre E-Mail">
            </div>
            <div>
                <p>Deine Nachricht</p>
                <input type="text" placeholder="Ihre Nachricht">
            </div>
            <button>Kontaktieren</button>
        </form>
    </div>
</div>