.container-contact {
    background-color: #141D2F;
    color: white;
    padding-top: 100px;
    h2 {
        margin: 0;
        font-size: 90px;
        margin-left: 5%;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
}

.sendEmail {
    height: 100%;
    width: 99vw;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0;
}

.contact {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
}

.text-contact {
    height: 620px;
    width: 40%;
    z-index: 1;
    position: relative;
}

input,
textarea {
    background-color: #141D2F;
    border: 2px solid #9747FF;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 600px;
    padding-left: 25px;
    padding-top: 5px;
    color: white;
    &:hover {
        border: 2px solid #70E61C;
    }
    &::placeholder {
        color: white;
    }
}

input {
    height: 50px;
}

textarea {
    padding-top: 15px;
    height: 200px;
    resize: none;
}

.animation {
    cursor: wait;
}

button {
    background-color: #70E61C;
    height: 58px;
    width: 241px;
    left: 188px;
    top: 407px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: white;
    font-size: 25px;
    border: none;
    transition: all ease-in-out 225ms;
    transform: scale(1);
    &:hover {
        cursor: pointer;
        background-color: #9747FF;
        transition: all ease-in-out 225ms;
        transform: scale(1.2);
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-image {
    position: relative;
    img {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 500px;
    }
}

.headline {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
    .hl1 {
        width: 10%;
        height: 4px;
        background-color: #9747FF;
    }
}

@media (max-width: 1500px) {
    .container-contact {
        h2 {
            font-size: 80px;
        }
        p {
            font-size: 14px;
        }
        h3 {
            font-size: 27px;
        }
    }
    input,
    textarea {
        width: 470px;
    }
}

@media (max-width: 1200px) {
    input,
    textarea {
        width: 400px;
    }
}

@media (max-width: 1150px) {
    .container-contact {
        padding-top: 50px;
    }
    .headline {
        padding-bottom: 40px;
    }
}

@media (max-width: 1000px) {
    .contact {
        flex-direction: column;
    }
    .text-contact {
        width: 100%;
        text-align: center;
        height: auto;
    }
    form {
        position: relative;
        z-index: 1;
    }
    input,
    textarea {
        width: 600px;
    }
    button {
        margin-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .contact {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 700px) {
    input,
    textarea {
        width: 380px;
    }
}

@media (max-width: 600px) {
    .contact {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 450px) {
    .contact {
        flex-direction: column;
    }
    .text-contact {
        width: 100%;
        text-align: center;
        height: auto;
    }
    .container-contact {
        h2 {
            font-size: 58px;
        }
        h3 {
            font-size: 27px
        }
        p {
            font-size: 13px;
        }
    }
    input,
    textarea {
        width: 330px;
    }
    textarea {
        height: 100px;
    }
    button {
        margin-bottom: 100px;
        padding: 15px 16px 15px 16px;
    }
    .bg-image {
        img {
            height: 200px;
        }
    }
}

@media (max-width: 390px) {
    input,
    textarea {
        width: 255px;
    }
    .container-contact {
        h2 {
            font-size: 50px;
        }
        h3 {
            font-size: 21px;
        }
    }
}

@media (max-width: 390px) {
    .container-contact {
        h2 {
            font-size: 45px;
        }
    }
    input,
    textarea {
        width: 165px;
    }
    button {
        margin-bottom: 45px;
        width: 188px;
        height: 55px;
        font-size: 23px;
    }
}