.container-contact {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    h3 {
        margin-top: 0;
        padding-top: 30px;
        font-size: 35px;
        letter-spacing: 1px;
        color: aquamarine;
    }
    a {
        text-decoration: none;
        color: aquamarine;
        &:hover {
            text-decoration: underline;
            color: rgba(127, 255, 212, 0.7);
        }
    }
    input {
        background-color: rgb(61, 58, 58);
        border-radius: 8px;
        height: 30px;
        width: 400px;
        border: none;
        padding-left: 10px;
        color: rgba(160, 155, 155);
        &::placeholder {
            color: rgba(160, 155, 155);
        }
    }
    .container-button {
        display: flex;
        justify-content: right;
        .contact-button {
            background-color: transparent;
            color: white;
            border: 3px solid white;
            border-radius: 8px;
            padding: 10px;
            cursor: pointer;
            &:hover {
                color: black;
                border: 3px solid black;
                background-color: gray;
            }
        }
    }
}