<div [class.whiteContainerSkills]="whiteMode" id="container-skills" class="container-skills">
    <h3 translate>Meine Skills</h3>
    <div class="skills">
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/java script.png" alt="">
            </div>
            <p>Javascript</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/angular.png" alt=""></div>
            <p>Angular</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/Group 205.png" alt=""></div>
            <p>HTML/CSS</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/Group 226.png" alt=""></div>
            <p>SCRUM</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/Git-Icon-1788C 2.png" alt=""></div>
            <p>Git</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/Group 20.png" alt=""></div>
            <p>Designen</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/icons8-rest-api-80 2.png" alt=""></div>
            <p>API</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/icons8-test-lab-96 2.png" alt=""></div>
            <p>Testautomatisierung</p>
        </div>
        <div class="skill">
            <div class="skill-image-container">
                <img src="./../assets/img/icons8-database-52 2.png" alt=""></div>
            <p>Datenbanken</p>
        </div>
    </div>
</div>