.impressum-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    height: calc(100vh - 200px);
}

//fertig
@media(max-width: 400px) {
    .impressum-container {
        font-size: 12px;
    }
}