.privacy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

//fertig
@media(max-width: 930px) {
    .privacy-container {
        font-size: 13px;
    }
}