html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'poppins';
    overflow-x: hidden;
}

@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/poppins.ttf');
}


/* You can add global styles to this file, and also import other style files */